# .env.example
# Copy this file to .env and fill in the values before starting the services
#
# cp .env.example .env
#
# ----

# MLflow configuration
# URL where MLflow server is running, used by training and API services to log metrics and artifacts. 
# Local will be pointing to the mlflow container, in production it should point to the external MLflow server URL.
MLFLOW_TRACKING_URI=http://mlflow:{{cookiecutter.mlflow_port}}

# This will deactivate anti-DNS-rebinding protection in MLflow, allowing it to be accessed from the host machine.
# In production, you should set to a specific domain: MLFLOW_ALLOW_HOSTS=mlflow.yourdomain.com
MLFLOW_ALLOW_HOSTS=*

